<ion-view view-title="A Propos">
    <ion-content padding="true"  scroll="false" class="has-header">
    <div class="padding">
         <div id="aPropos">
            <p>Trouvez de nouvelles idées de projets à l'aide de notre application ID Room Project, le générateur d'idées de projets aléatoire.</p>

            <p> Vous êtes en manque d'idées pour un projet personnel . En manque d'idées pour un projet scolaire ou professionnel ? ID Room Project est là pour vous.</p>

            <p>Simple et pratique à utiliser, cette application est conçue pour vous aider à trouver une idée de projet rapidement grâce à la génération de mots aléatoires, il suffit d'un simple clique sur le bouton generate et les idées de projets vont se générer.</p> 

            <p>Une fois après avoir trouvé votre idée de projet, vous pourrez partager cette idée sur les réseaux sociaux grâce au bouton partager qui se trouve en bas du bouton générer.</p>

            <p> Cette application​ est le fruit d'un travail de groupe composé de quatre étudiants de l'Université Paris Sud.</p>
        </div>
    </div>
</ion-content>
</ion-view>	