<ion-view view-title="Ajouter un mot">

<link href="css/ionic.app.css" rel="stylesheet">

    <ion-content id= "addMot" padding="true"  scroll="false" class="has-header">

    <div class="padding">
         <div id="add">
            <label class="item item-input">
              <span class="input-label">Mot à ajouter</span>
              <input type="text">
            </label>
            <button class="button button-positive">Ajouter</button>
        </div>
    </div>

</ion-content>
</ion-view>	