<ion-view view-title="Ajouter un mot">

    <ion-content id= "addMot" padding="true"  scroll="false" class="has-header">

    <div class="padding">
    
            
            <form ng-submit="obj2.push(text)" ng-controller="fesseCtrl">
            <div class="form">
               
                <label class="item item-input">
                <span class="input-label">mot</span>
                 <input type="text" id="text" name="text" ng-model="text">
            </div>
               <!-- <ion-item>

                <ion-label stacked color="positive">mot à ajouter</ion-label>
                 <ion-input ng-model="text" type="text"></ion-input>

                    
            </ion-item> -->

             <button id="addBtn" style="left:-10px; border-radius:-5px -5px -5px -5px;" class="button button-positive button-block clear icon-left ion-ios-lightbulb-outline;" type="submit">Ajouter !</button>

         </form>
       
    </div>
</ion-content>
</ion-view>	