<ion-view>
    <ion-content id="fesse">
        <!-- Only required for Tab projects w/ pages in multiple tabs-->
        <!--<script src="lib/ionicuirouter/ionicUIRouter.js"></script>-->
        <!--////////////////////-->
        <!--background + ampoule-->
        <!--////////////////////-->
        <div class="ampoule">
            <div id="lampadario">
                <input type="radio" name="switch" value="on" />
                <input type="radio" name="switch" value="off" checked="checked"/>
                <label for="switch"></label>
                <div id="filo"></div>
                <div id="lampadina">
                    <div id="sorpresa">
                        <div id="footer">
                        </div>
                        <div id="shadow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>