<ion-view view-title="ID ROOM PROJECT">


     <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <ion-content id="fesse" scroll="false" class="padding">

        <!--////////////////////-->
        <!--////// Header //////-->
        <!--////////////////////

    <div class="bar bar-header bar-positive">
      <h1 class="title">ID ROOM PROJECT</h1>
    </div>-->

        <!--////////////////////-->
        <!--background + ampoule-->
        <!--////////////////////-->

        <div class="ampoule">
            <div id="lampadario">
                <input type="radio" name="switch" value="on" />
                <input type="radio" name="switch" value="off" checked="checked"/>
                <label for="switch"></label>
                <div id="filo"></div>
                <div id="lampadina">
                    <div id="sorpresa">
                        <div id="footer">      
                        </div>
                        <div id="shadow">
                        </div>
                    </div>
                </div>
            </div>
            
        
    </ion-content>
    <ion-content padding="true"  scroll="false" class="has-header">
    <div style="position: absolute; bottom: 100px; width: 100%;">
        <div class="padding">
            <div ng-controller="fesseCtrl" >
                <div id= "mot">

            <!--////// word1 random //////-->
                    <div id="mot1" style="position: absolute; bottom: 180px; width: 100%;  margin-right : -10px;"> 
                            <a>{{mot1}}</a>
                           
            <!--////// word2 random //////-->
                            <div id="mot2" style="position: absolute; bottom: 80px; width: 100%;">
                             <a> {{mot2}}</a>
                            </div>  
                        </div>
                </div>
             </div>
        </div>

            <!--////// Button generate //////-->
      <button id="page-button1" style="left:-10px; border-radius:-5px -5px -5px -5px;" class="button button-light button-block clear icon-left ion-ios-lightbulb-outline;" ng-click="generate()">Generate</button>
      
        </div>
    </div>

           <!--////// Button Share //////--> 
    
   <button id="page-button2" style="position: absolute; bottom: 40px; width: 60%; margin-left:75px;" class="button button-light  button-block icon-left ion-android-share-alt; "ng-click="share()">Partager</button> 
  </ion-content>
</ion-view>