<ion-view view-title="Nous contacter">	


 <link href="css/style.css" rel="stylesheet">
 	<ion-content padding="true"  scroll="false" class="has-header">
    <div class="padding">
       <h4>Vous pouvez nous rejoindre sur les reseaux sociaux!</h4>
       <a href="http://instagram.com/idroomproject"><button style="bottom: 350px;" class="button button-positive icon ion-social-instagram-outline" ></button></a>
       <a href="https://www.facebook.com/ID-ROOM-Project-433745253674008/"><button style="bottom: 350px; margin-left:-75px;"class="button button-positive icon ion-social-facebook-outline"></button></a>
       <a href="https://mobile.twitter.com/IdRoomProject"><button style="bottom: 350px; margin-left:75px;"class="button button-positive icon ion-social-twitter-outline"></button></a>

    	</div>     
     </div>
 </ion-content>

 	
</ion-view>