<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New word</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Word add</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">add</button>
          </div>
        </ion-content>
      </ion-modal-view>