<link href="css/style.css" rel="stylesheet">
<ion-modal-view>

 <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Bienvenue</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide(1)">Continuer</button>
        </ion-header-bar>
<ion-content scroll="false">
	<div class="padding">
		<h2 style="color:#422747;">ID Room Project ou comment illuminer vos ID</h2>
<div class="start">
  <p >Bienvenue sur l'application ID Room Project, trouvez une idée de projet en quelques secondes puis partagez la avec vos proches !<p>
 </div>
  </div>
</ion-content>

</ion-modal-view>