
    	 <ion-view>
	

  <ion-content padding="true" class="has-header">
    <div id="page-container1" class="creator-container"></div>
    <div id="page-container2" class="creator-container"></div>
    <div style="margin-right:-20px;">
      <button id="page-button1" style="left:-10px;border-radius:-5px -5px -5px -5px;" class="button button-light  button-full icon-left ion-ios-lightbulb-outline"> Generate</button>
    </div>
    <button id="page-button2" class="button button-energized  button-block icon-left ion-android-share-alt">Partager</button>
  </ion-content>
</ion-view>


  </body>
	</head>
</html>
	 

	